.card5 {
    width: 78%;
    margin: 60px 300px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border: 1px solid #e3dcdc;
  }

  .title5 {
    margin-bottom: 10px;
    font-size: 30px;
    font-weight: bold;
  }


  .approved {
    background-color: #545F71;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 10px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .approved {
    background-color: #545F71;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 10px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .approved:disabled {
    background-color: #cccccc; 
    color: #666666;
    cursor: not-allowed; 
  }
  