/* SavedPage.css */

body, html {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f4f7;
}

.saved-page {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content-container {
    display: flex;
    width: 100%;
    max-width: 1200px;
    padding: 20px;
}

.sidebar-left, .sidebar-right {
    width: 200px;
    background-color: #3c6e47;
    color: #fff;
    padding: 10px;
    border-radius: 10px;
}

.sidebar-button {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #2e5939;
    border: none;
    width: 100%;
    margin: 5px 0;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
    color: white;
    font-size: 16px;
}

.sidebar-button i {
    margin-right: 10px;
    font-size: 18px;
}

.sidebar-button.active {
    background-color: #388E3C;
    color: #fff;
}

.main-content {
    flex: 1;
    margin: 0 20px;
    padding: 10px;
    background-color: #ffffff;
    border-radius: 10px;
}

.post {
    border: 1px solid #e7e7e7;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.post-header {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
}

.post-actions {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.like-button, .unlike-button {
    background: none;
    border: none;
    color: #4CAF50;
    cursor: pointer;
    font-size: 14px;
}

/* Right Sidebar */
.login-button {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 20px;
}

.community-list, .trending-topics {
    margin-bottom: 20px;
    background-color: #ffffff;
    padding: 10px;
    border-radius: 5px;
}

.community-list h3, .trending-topics h3 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #2e5939;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

ul li {
    margin: 5px 0;
    font-size: 14px;
    color: #555;
}
